<html>
	<head>
		<title>ECCO Crystal Cleansing Operation | Home</title>
		<script src="/socket.io/socket.io.js"></script>
		<style>
			body {
				margin: 0;
				overflow: hidden;
				background-color: #2C3E50;
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 			font-weight: 300;
	 			color: white;
			}
			a {
				color: white;
			}
			.confirm-button {
				width: auto;
				height: auto;
				color: white;
				background-color: #2ecc71;
				display: none;
				margin: 10px;
			}
			.confirm-button span {
				padding: 10px;
				font-size: 18px;
			}
			.landing {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.align-item {
				max-width: 50%;
			}
			#room-url {
				font-size: 24px;
			}
			#room-url a {
				text-decoration: none;
			}

			@keyframes connect {
				from { background-color: #2C3E50; }
				to { background-color: #3FC380; }
			}
			@keyframes disconnect {
				from { background-color: #3FC380; }
				to { background-color: #2C3E50; }
			}
			.connected {
				background-color: #3FC380;
				animation-name: connect;
				animation-duration: 1s;
			}
			.disconnected {
				background-color: #2C3E50;
				animation-name: disconnect;
				animation-duration: 1s;
			}
		</style>
	</head>
	<body>
		<div class="landing">
			<div class="align-item">
				<center><h1>ECCO Crystal Cleansing Operation</h1></center>
				<p>Go to the link below on another smartphone to use as a viewer:</p>
				<center><a id="room-url" href="/client/<%= roomID %>">http://localhost:3000/client/<%= roomID %></a></center>
				<h3>What is this?</h3>
				<p1>This is a game <i><a href="http://ajayramesh.com/">@Carpetfizz</a></i> and <i><a href="http://ronak.io/">@Usandfriends</a></i> created for Global Game Jam 2016 at UC Berkeley.</p1>
				<br>
				<center><canvas width="400" height="400"></canvas></center>
			</div>
		</div>

		<script>var roomID = '<%= roomID %>';</script>
		<script src="/js/controller.js"></script>
	</body>
</html>
