<html>
	<head>
		<title>ECCO Crystal Cleansing Operation | Home</title>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<h1>ECCO Crystal Cleansing Operation</h1>
		<a href="/client/<%= roomID %>">http://localhost:3000/client/<%= roomID %></a>
		<br>
		<canvas width="1" height="1"></canvas>

		<script>var roomID = '<%= roomID %>';</script>
		<script src="/js/controller.js"></script>
	</body>
</html>
